<div class='box'>
    <h1 class='title is-1'>Angular Conference Data</h1>
    <hr>
    <!-- Assign the app-event-thumbnail component a local variable name to refer to as the parent -->
    <app-event-thumbnail #thumbnail *ngFor="let event of events" [event]="event"></app-event-thumbnail>

    <!-- This button will be used to trigger debugMessage() in child component -->
    <!-- This works because the app-event-thumbnail was given a local variable above called #thumbnail -->
    <button class="button" (click)="thumbnail.debugMessage()">Configure</button>

    <!-- Use string interpolation along with the local variable name accessing the public property -->
    <button class="button">{{ thumbnail.debugName }}</button>
</div>