<div>
    <table class='table is-fullwidth is-bordered'>
        <thead>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Price</th>
            <th>Symbol</th>
            <th>Location</th>
            <th>Online Location</th>
        </thead>
        <tbody>
            <tr>
                <td> {{ event?.name }} </td>
                <td> {{ event?.date }} </td>
                <td> {{ event?.time }} </td>
                <td> {{ event?.price }} </td>
                <td> {{ event?.imageUrl }} </td>
                <td> {{ event?.location?.address }} </td>
                <td> {{ event?.onlineLocation?.address }} </td>
            </tr>
        </tbody>
    </table>
</div>